<!-- Formulario Crear/Editar Receta (con userId) -->
<h4>{{ editMode ? 'Edit Recipe' : 'New Recipe' }}</h4>
<div class="form-section">
  <form (submit)="onSubmit()" #recipeForm="ngForm" class="form-row">
    <mat-form-field>
      <input matInput placeholder="Name" name="name" required [(ngModel)]="recipe.name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Description" name="description" required [(ngModel)]="recipe.description">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Category" name="category" required [(ngModel)]="recipe.category">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Recipe Type" name="recipeType" required [(ngModel)]="recipe.recipeType">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Preparation Time" name="preparationTime" type="number" required [(ngModel)]="recipe.preparationTime">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Difficulty" name="difficulty" required [(ngModel)]="recipe.difficulty">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="User ID" name="userId" type="number" required [(ngModel)]="recipe.userId">
    </mat-form-field>

    <ng-container>
      @if (editMode === true) {
        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      }
      @else {
        <button mat-raised-button color="primary">Add</button>
      }
    </ng-container>
  </form>
</div>
