<div class="meal-card weight-loss">
  <div class="meal-card-header">
    <h2 class="meal-title">{{ plan.name }}</h2>
    <div class="meal-subtitle">Categoría: {{ plan.calories_per_day }}</div>
  </div>
  <div class="meal-card-content">
    <p class="meal-description">
      {{ plan.description }}
    </p>
    <p class="meal-detail">Objetivo: {{ plan.goal }}</p>
    <p class="meal-detail">Calorías por día: {{ plan.calories_per_day }} Kcal</p>
  </div>
  <div class="meal-card-actions">
    <button class="meal-btn" (click)="goToDetail()">Ver Detalle</button>
  </div>
</div>
