<div class="dashboard">
<!--  <div class="card card-premium">
    <h2>Premium Plan</h2>
    <p>Unlock full access to all NutriSmart features and personalized support.</p>
    <p class="price">$9.99 / month</p>
    <button routerLink="/premium">Learn More</button>
  </div>-->

  <div class="card card-create-plan">
    <h2>Create Meal Plan</h2>
    <p>Design a personalized meal plan based on your goals and preferences.</p>
    <button routerLink="/meal-plan/create-plan">Start Planning</button>
  </div>

  <div class="card card-meal-plans">
    <h2>Explore Meal Plans</h2>
    <p>Browse and follow curated meal plans from experts or the community.</p>
    <button routerLink="/meal-plan">Explore</button>
  </div>

  <div class="card card-recommendations">
    <h2>Recommendations</h2>
    <p>Get daily or weekly food and nutrition recommendations tailored to you.</p>
    <button routerLink="/recommendations">See Recommendations</button>
  </div>

  <div class="card card-ingredients">
    <div>
    <h2>Ingredients</h2>
    <p>Manage ingredient data, check for allergens, and nutritional info.</p>
    </div>
    <button routerLink="/recipe/ingredients">View Ingredients</button>
  </div>

  <div class="card card-recipes">
    <h2>Recipes</h2>
    <p>Create, edit, and save your favorite healthy recipes.</p>
    <button routerLink="/recipe/recipe">Manage Recipes</button>
  </div>

  <div class="card card-tracking">
    <h2>Tracking</h2>
    <p>Track your daily intake and progress towards your nutrition goals.</p>
    <button routerLink="/tracking">Go to Tracking</button>
  </div>
</div>
